In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('datasets/data_ts_city.csv')

In [4]:
df

                 datetime  구미 혁신도시배수지 유출유량 적산차
0     2021-01-01 00:00:00                106.0
1     2021-01-01 01:00:00                184.0
2     2021-01-01 02:00:00                277.0
3     2021-01-01 03:00:00                197.0
4     2021-01-01 04:00:00                 72.0
...                   ...                  ...
8419  2021-12-17 19:00:00                327.0
8420  2021-12-17 20:00:00                513.0
8421  2021-12-17 21:00:00                396.0
8422  2021-12-17 22:00:00                350.0
8423  2021-12-17 23:00:00                197.0

[8424 rows x 2 columns]

In [6]:
df.columns

Index(['datetime', '구미 혁신도시배수지 유출유량 적산차'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8424 entries, 0 to 8423
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             8424 non-null   object
 1   구미 혁신도시배수지 유출유량 적산차  8424 non-null   float64
dtypes: float64(1), object(1)
memory usage: 131.8+ KB

In [8]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['year'] = pd.DatetimeIndex(df['datetime']).year
df['month'] = pd.DatetimeIndex(df['datetime']).month

In [9]:
X = df[['구미 혁신도시배수지 유출유량 적산차']].to_numpy()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8424 entries, 0 to 8423
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   datetime             8424 non-null   datetime64[ns]
 1   구미 혁신도시배수지 유출유량 적산차  8424 non-null   float64
 2   year                 8424 non-null   int64
 3   month                8424 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 263.4 KB

In [11]:
df['구미 혁신도시배수지 유출유량 적산차'].describe()

count    8424.000000
mean      260.544160
std       171.825882
min         0.000000
25%       118.000000
50%       233.000000
75%       375.000000
max      1350.000000
Name: 구미 혁신도시배수지 유출유량 적산차, dtype: float64

In [12]:
q1=df['구미 혁신도시배수지 유출유량 적산차'].quantile(0.25)
q2=df['구미 혁신도시배수지 유출유량 적산차'].quantile(0.5)
q3=df['구미 혁신도시배수지 유출유량 적산차'].quantile(0.75)

In [13]:
iqr = q3-q1
iqr

257.0

In [14]:
q3+3.0*iqr

1146.0

In [16]:
remove = df['구미 혁신도시배수지 유출유량 적산차']>q3+1.5*iqr
removedata = df[remove].index

In [17]:
df.drop(removedata,inplace=True)

In [18]:
df[df['구미 혁신도시배수지 유출유량 적산차']<0] = 0