In [38]:
import numpy as np
import pandas as pd
import data_als
import data_prepro

In [21]:
df = pd.read_csv('data_tr_폭염일자(2017-2020).csv',encoding='cp949')

In [22]:
df

               datetime  구미시 폭염여부
0       2017/01/01 1:00       NaN
1       2017/01/01 2:00       NaN
2       2017/01/01 3:00       NaN
3       2017/01/01 4:00       NaN
4       2017/01/01 5:00       NaN
...                 ...       ...
35058  2020/12/31 19:00       NaN
35059  2020/12/31 20:00       NaN
35060  2020/12/31 21:00       NaN
35061  2020/12/31 22:00       NaN
35062  2020/12/31 23:00       NaN

[35063 rows x 2 columns]

In [23]:
df = df.dropna()

In [24]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['year'] = pd.DatetimeIndex(df['datetime']).year
df['month'] = pd.DatetimeIndex(df['datetime']).month

C:\Users\ParkJeongSu\AppData\Local\Temp\ipykernel_29368\2073530740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datetime'] = pd.to_datetime(df['datetime'])
C:\Users\ParkJeongSu\AppData\Local\Temp\ipykernel_29368\2073530740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = pd.DatetimeIndex(df['datetime']).year
C:\Users\ParkJeongSu\AppData\Local\Temp\ipykernel_29368\2073530740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = pd.DatetimeIndex(df['datetime']).month

In [25]:
df

                 datetime  구미시 폭염여부  year  month
3551  2017-05-29 00:00:00       1.0  2017      5
3552  2017-05-29 01:00:00       1.0  2017      5
3553  2017-05-29 02:00:00       1.0  2017      5
3554  2017-05-29 03:00:00       1.0  2017      5
3555  2017-05-29 04:00:00       1.0  2017      5
...                   ...       ...   ...    ...
32106 2020-08-30 19:00:00       1.0  2020      8
32107 2020-08-30 20:00:00       1.0  2020      8
32108 2020-08-30 21:00:00       1.0  2020      8
32109 2020-08-30 22:00:00       1.0  2020      8
32110 2020-08-30 23:00:00       1.0  2020      8

[2352 rows x 4 columns]

In [41]:
df.columns

Index(['datetime', '구미시 폭염여부', 'year', 'month'], dtype='object')

In [26]:
df['year'].unique()

array([2017, 2018, 2019, 2020], dtype=int64)

In [27]:
print(2017,"년")
df[df['year'] == 2017]['month'].value_counts()

2017 년

7    288
8    168
6     96
5     24
Name: month, dtype: int64

In [29]:
print(2018,"년")
df[df['year'] == 2018]['month'].value_counts()

2018 년

7    504
8    360
6     48
Name: month, dtype: int64

In [30]:
print(2019,"년")
df[df['year'] == 2019]['month'].value_counts()

2019 년

8    264
7    120
6     48
5     24
Name: month, dtype: int64

In [31]:
print(2020,"년")
df[df['year'] == 2020]['month'].value_counts()

2020 년

8    288
6    120
Name: month, dtype: int64

In [32]:
df1 = pd.read_csv('data_tr_폭염일자(2021).csv',encoding='cp949')

In [33]:
df1 = df1.dropna()

In [34]:
df1['datetime'] = pd.to_datetime(df1['datetime'])
df1['year'] = pd.DatetimeIndex(df1['datetime']).year
df1['month'] = pd.DatetimeIndex(df1['datetime']).month

In [36]:
print(2021,"년")
df1[df1['year'] == 2021]['month'].value_counts()

2021 년

7    360
8    120
Name: month, dtype: int64

In [37]:
df1.describe()

C:\Users\ParkJeongSu\AppData\Local\Temp\ipykernel_29368\2053335143.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df1.mean()

구미시 폭염여부       1.00
year        2021.00
month          7.25
dtype: float64

In [39]:
train,test = data_prepro.loadData('datasets/data_tr_city.csv','datasets/data_ts_city.csv')

In [51]:
train = data_prepro.outlierDataToNan(train)
test = data_prepro.outlierDataToNan(test)

In [52]:
train = data_prepro.fillnaBehind(train)
test = data_prepro.fillnaBehind(test)

Int64Index([ 1748,  1982,  2127,  3468,  3485,  3491,  3513,  3533,  3542,
             3554,  3593,  3607, 10208, 11995, 12519, 12716, 12717, 13187,
            13234, 17558, 26078, 26079, 27253, 27254],
           dtype='int64')
datetime               0
구미 혁신도시배수지 유출유량 적산차    0
year                   0
month                  0
dtype: int64
Int64Index([1502], dtype='int64')
datetime               0
구미 혁신도시배수지 유출유량 적산차    0
year                   0
month                  0
dtype: int64

In [45]:
df = pd.read_csv('data_tr_폭염일자(2017-2020).csv',encoding='cp949')

In [53]:
train[df['구미시 폭염여부'] == 1].describe()

       구미 혁신도시배수지 유출유량 적산차         year        month
count          2352.000000  2352.000000  2352.000000
mean            282.183673  2018.295918     7.285714
std             173.813972     1.022512     0.769473
min               0.000000  2017.000000     5.000000
25%             138.000000  2018.000000     7.000000
50%             275.000000  2018.000000     7.000000
75%             406.250000  2019.000000     8.000000
max             858.000000  2020.000000     8.000000

In [49]:
df1 = pd.read_csv('data_tr_폭염일자(2021).csv',encoding='cp949')

In [54]:
test[df1['구미시 폭염여부'] == 1].describe()

       구미 혁신도시배수지 유출유량 적산차    year       month
count           480.000000   480.0  480.000000
mean            285.158333  2021.0    7.250000
std             178.429217     0.0    0.433464
min              23.000000  2021.0    7.000000
25%             140.000000  2021.0    7.000000
50%             262.500000  2021.0    7.000000
75%             397.750000  2021.0    7.250000
max             904.000000  2021.0    8.000000